.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .umugu {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  @media screen and (max-width: 1040px){
    .right-arrow {
      position: absolute;
      top: 50%;
      right: 32px;
      font-size: 3rem;
      color: #000;
      z-index: 10;
      cursor: pointer;
      user-select: none;
    }
    }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  @media screen and (max-width: 1040px){
    .left-arrow {
      position: absolute;
      top: 50%;
      left: 32px;
      font-size: 3rem;
      color: #000;
      z-index: 10;
      cursor: pointer;
      user-select: none;
  }
}
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  .campfire{
    height: auto;
    width: 10%;
    position: static;
    bottom: 0;
    right: 0;
  }

  @media screen and (max-width: 1040px){
    .campfire{
      height: 30%;
      width: 30%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      align-items: center;
      align-items: center;
      position: relative;
    }
}

.campfire2{
  height: 40%;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  align-items: center;
  align-items: center;
  position: relative;
}
