.linking{
  width: 100%;
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

  @media screen and (min-width: 1241px){
    .slider {
      position: relative;
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
}

@media screen and (max-width: 1240px){
  .slider {
    position: relative;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 640px){
  .slider {
    position: relative;
    height: 17vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1241px){
  .umugu {
    width: 1000px;
    height: 600px;
    border-radius: 20px;
  }
}

  @media screen and (max-width: 1240px){
    .umugu {
      width: 500px;
      height: 300px;
      border-radius: 20px;
    }
}

@media screen and (max-width: 640px){
  .umugu {
    width: 350px;
    height: 200px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 1140px){
  .right-arrow {
    position: absolute;
    top: 42%;
    right: 32px;
    font-size: 3rem;
    color: #D8BFD8;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 42%;
    left: 32px;
    font-size: 3rem;
    color: #D8BFD8;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
}

@media screen and (min-width: 1140px){
  .right-arrow {
    position: absolute;
    top: 45%;
    right: 32px;
    font-size: 3rem;
    color: #D8BFD8;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 45%;
    left: 32px;
    font-size: 3rem;
    color: #D8BFD8;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
}
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  .campfire{
    height: auto;
    width: 10%;
    position: static;
    bottom: 0;
    right: 0;
  }

  @media screen and (max-width: 1040px){
    .campfire{
      height: 30%;
      width: 30%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      align-items: center;
      align-items: center;
      position: relative;
    }
}

.campfire2{
  height: 40%;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  align-items: center;
  position: relative;
}
