.hero-img, .hero-img2, .hero-img3, .hero-img4{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 60vh;
    position: relative;
}

@media screen and (min-width: 0px){
    .hero-img::before{
        content: "";
        background: url("https://64.media.tumblr.com/842eacef47c0b3a638045f781f75dd30/tumblr_nehe7cb39x1rr2r12o1_400.gifv") no-repeat;;
        background-size: contain;
        background-position: cover;
        height: 90%;
        width: 100%;
        position: absolute;
        top: -0;
        left: 30;
        z-index: -1;
        object-fit: cover;
    }
}

@media screen and (min-width: 0px){
    .hero-img2::before{
        content: "";
        background: url("https://media1.giphy.com/media/5xRW2cUKfcyQg/giphy.gif?cid=790b761137db6636b8f1124dbe2a1891a9924f1c3402646b&rid=giphy.gif&ct=s") no-repeat;
        background-size: contain;
        background-position: cover;
        height: 90%;
        width: 100%;
        position: absolute;
        top: -0;
        left: 30;
        z-index: -1;
        object-fit: cover;
    }
}

@media screen and (min-width: 0px){
    .hero-img3::before{
        content: "";
        background: url("https://media1.giphy.com/media/UQ1EI1ML2ABQdbebup/giphy.gif?cid=790b76118958cad768a71facfa3da0719f4ba5f08d6d47f2&rid=giphy.gif&ct=s") no-repeat;
        background-size: contain;
        background-position: cover;
        height: 90%;
        width: 100%;
        position: absolute;
        top: -0;
        right: -20;
        z-index: -1;
        object-fit: cover;
    }
}

@media screen and (min-width: 0px){
    .hero-img4::before{
        content: "";
        background: url("https://cdna.artstation.com/p/assets/images/images/057/603/820/original/blake-s-animatedsiamesecat400x400ish.gif?1672119209") no-repeat;
        background-size: contain;
        background-position: cover;
        height: 90%;
        width: 100%;
        position: absolute;
        top: -0;
        right: -20;
        z-index: -1;
        object-fit: cover;
    }
}

.hero-igm h1, .hero-img2 h1, .hero-img3 h1, .hero-img4 h1{
    font-size: 2.4rem;
}

.hero-igm p, .hero-img2 p, .hero-img3 p, .hero-img4 p{
    font-size: 1.4rem;
    text-align: center;
}

@media screen and (max-width: 640px){
    .hero-igm h1, .hero-img2 h1, .hero-img3 h1, .hero-img4 h1{
        font-size: 2rem;
    }
}

.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}